# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

!**/Meshes/*

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

#Debugging Files
*.pdb
*.ilk

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.out
*.app

.vs
.vscode

**/__TMP